x-airflow-common: &airflow-common
  build: .
  image: newsnack-pipeline:latest
  env_file: .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./src:/opt/airflow/src
  user: "${AIRFLOW_UID:-50000}:0"
  restart: always

services:
  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8081:8080"
    deploy:
      resources:
        limits:
          memory: 800M
        reservations:
          memory: 550M

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    deploy:
      resources:
        limits:
          memory: 2.2G
        reservations:
          memory: 700M